rvar_project/experiments/05_glmnet_mgaussian_exploration/RMTL_0.9.9
rvar_project/experiments/05_glmnet_mgaussian_exploration/RMTL_0.9.9.tar.gz
rvar_project/experiments/06_RMTL_AddingWeights/RMTL_0.9.9
rvar_project/experiments/06_RMTL_AddingWeights/RMTL_0.9.9.tar.gz

rvar_project/experiments/simulatingGIMME/
rvar_project/experiments/simulatingGIMME/individual





rvar_project/experiments_cluster/sims_1/req_lib

rvar_project/experiments_cluster/sims_1/100_var/experiments1
rvar_project/experiments_cluster/sims_1/200_gimme/experiments1
rvar_project/experiments_cluster/sims_1/300_mvar/experiments1
rvar_project/experiments_cluster/sims_1/300_rvar/experiments1




rvar_project/experiments_cluster/sims_2/req_lib
rvar_project/experiments_cluster/sims_2/100_var/pretrainings1
rvar_project/experiments_cluster/sims_2/100_var/experiments1
rvar_project/experiments_cluster/sims_2/200_gimme/experiments1
rvar_project/experiments_cluster/sims_2/300_mvar/pretrainings1
rvar_project/experiments_cluster/sims_2/300_mvar/experiments1
rvar_project/experiments_cluster/sims_2/400_rvar/pretrainings1/
rvar_project/experiments_cluster/sims_2/400_rvar/experiments1/
rvar_project/experiments_cluster/sims_2/042_cv_rvar.R
rvar_project/experiments_cluster/sims_2/042_lm_rvar.r
rvar_project/experiments_cluster/sims_2/500_AggregatedDataExperiments/data_all




rvar_project/experiments_cluster/sims_3/req_lib
rvar_project/experiments_cluster/sims_3/100_var/pretrainings1
rvar_project/experiments_cluster/sims_3/100_var/experiments1
rvar_project/experiments_cluster/sims_3/200_gimme/experiments1
rvar_project/experiments_cluster/sims_3/300_mvar/pretrainings1
rvar_project/experiments_cluster/sims_3/300_mvar/experiments1
rvar_project/experiments_cluster/sims_3/400_rvar/pretrainings1/
rvar_project/experiments_cluster/sims_3/400_rvar/experiments1/
rvar_project/experiments_cluster/sims_3/042_cv_rvar.R
rvar_project/experiments_cluster/sims_3/042_lm_rvar.r
rvar_project/experiments_cluster/sims_3/500_AggregatedDataExperiments/data_all  