rvar_project/real_data/src/req_lib
rvar_project/real_data/req_lib

rvar_project/real_data/beed_+bangalore+eeg+epilepsy+dataset/req_lib
rvar_project/real_data/EEGepilepsydata/Epilepsy-EEG/A
rvar_project/real_data/EEGepilepsydata/Epilepsy-EEG/B
rvar_project/real_data/EEGepilepsydata/Epilepsy-EEG/C
rvar_project/real_data/EEGepilepsydata/Epilepsy-EEG/D
rvar_project/real_data/EEGepilepsydata/Epilepsy-EEG/E
rvar_project/real_data/SienaSleep/Siena_Sleep_EEG_Data.csv
rvar_project/real_data/SienaFull/siena-scalp-eeg-database-1.0.0.zip
rvar_project/real_data/college_scorecards


rvar_project/experiments/05_glmnet_mgaussian_exploration/RMTL_0.9.9
rvar_project/experiments/05_glmnet_mgaussian_exploration/RMTL_0.9.9.tar.gz
rvar_project/experiments/06_RMTL_AddingWeights/RMTL_0.9.9
rvar_project/experiments/06_RMTL_AddingWeights/RMTL_0.9.9.tar.gz
rvar_project/experiments/07_modvar_full_fista/multivar_1.1.0/
rvar_project/experiments/07_modvar_full_fista/multivar_1.1.0.tar.gz
rvar_project\experiments\07_modvar_full_fista\multivar_1.1.0
rvar_project\experiments\07_modvar_full_fista\rtools43-5976-5975.exe
rvar_project/experiments/simulatingGIMME/
rvar_project/experiments/simulatingGIMME/individual





rvar_project/experiments_cluster/sims_1/req_lib

rvar_project/experiments_cluster/sims_1/100_var/experiments1
rvar_project/experiments_cluster/sims_1/200_gimme/experiments1
rvar_project/experiments_cluster/sims_1/300_mvar/experiments1
rvar_project/experiments_cluster/sims_1/300_rvar/experiments1




rvar_project/experiments_cluster/sims_2/req_lib
rvar_project/experiments_cluster/sims_2/100_var/pretrainings1
rvar_project/experiments_cluster/sims_2/100_var/experiments1
rvar_project/experiments_cluster/sims_2/200_gimme/experiments1
rvar_project/experiments_cluster/sims_2/300_mvar/pretrainings1
rvar_project/experiments_cluster/sims_2/300_mvar/experiments1
rvar_project/experiments_cluster/sims_2/400_rvar/pretrainings1/
rvar_project/experiments_cluster/sims_2/400_rvar/experiments1/
rvar_project/experiments_cluster/sims_2/042_cv_rvar.R
rvar_project/experiments_cluster/sims_2/042_lm_rvar.r
rvar_project/experiments_cluster/sims_2/500_AggregatedDataExperiments/data_all
rvar_project/experiments_cluster/sims_2/500_AggregatedDataExperiments/data_all/




rvar_project/experiments_cluster/sims_3/req_lib
rvar_project/experiments_cluster/sims_3/100_var/pretrainings1
rvar_project/experiments_cluster/sims_3/100_var/experiments1
rvar_project/experiments_cluster/sims_3/200_gimme/experiments1
rvar_project/experiments_cluster/sims_3/300_mvar/pretrainings1
rvar_project/experiments_cluster/sims_3/300_mvar/experiments1
rvar_project/experiments_cluster/sims_3/400_rvar/pretrainings1/
rvar_project/experiments_cluster/sims_3/400_rvar/experiments1/
rvar_project/experiments_cluster/sims_3/042_cv_rvar.R
rvar_project/experiments_cluster/sims_3/042_lm_rvar.r
rvar_project/experiments_cluster/sims_3/500_AggregatedDataExperiments/data_all 




rvar_project/experiments_cluster/sims_4/req_lib
rvar_project/experiments_cluster/sims_4/plot*
rvar_project/experiments_cluster/sims_4/100_var/pretrainings1
rvar_project/experiments_cluster/sims_4/100_var/experiments1
rvar_project/experiments_cluster/sims_4/200_gimme/experiments1
rvar_project/experiments_cluster/sims_4/300_mvar/pretrainings1
rvar_project/experiments_cluster/sims_4/300_mvar/experiments1
rvar_project/experiments_cluster/sims_4/400_rvar/pretrainings1/
rvar_project/experiments_cluster/sims_4/400_rvar/experiments1/
rvar_project/experiments_cluster/sims_4/042_cv_rvar.R
rvar_project/experiments_cluster/sims_4/042_lm_rvar.r
rvar_project/experiments_cluster/sims_4/500_AggregatedDataExperiments/data_all 
rvar_project/experiments_cluster/sims_4/510_AggregatedDataExperiments_wForecast/data_all/




rvar_project/experiments_cluster/sims_5/req_lib
rvar_project/experiments_cluster/sims_5/plot*
rvar_project/experiments_cluster/sims_5/100_var/pretrainings1
rvar_project/experiments_cluster/sims_5/100_var/experiments1
rvar_project/experiments_cluster/sims_5/200_gimme/experiments1
rvar_project/experiments_cluster/sims_5/300_mvar/pretrainings1
rvar_project/experiments_cluster/sims_5/300_mvar/experiments1
rvar_project/experiments_cluster/sims_5/400_modvar/pretrainings1/
rvar_project/experiments_cluster/sims_5/400_modvar/experiments1/
rvar_project/experiments_cluster/sims_5/042_cv_rvar.R
rvar_project/experiments_cluster/sims_5/042_lm_rvar.r
rvar_project/experiments_cluster/sims_5/500_AggregatedDataExperiments/data_all 


rvar_project/experiments/07_modvar_full_fista/rtools43-5976-5975.exe








rvar_project/experiments_cluster2/sims_mod1/req_lib
rvar_project/experiments_cluster2/sims_mod1/plot*
rvar_project/experiments_cluster2/sims_mod1/100_var/pretrainings1
rvar_project/experiments_cluster2/sims_mod1/100_var/experiments1
rvar_project/experiments_cluster2/sims_mod1/200_gimme/experiments1
rvar_project/experiments_cluster2/sims_mod1/300_mvar/pretrainings1
rvar_project/experiments_cluster2/sims_mod1/300_mvar/experiments1
rvar_project/experiments_cluster2/sims_mod1/400_modvar/pretrainings1/
rvar_project/experiments_cluster2/sims_mod1/400_modvar/experiments1/
rvar_project/experiments_cluster2/sims_mod1/500_AggregatedDataExperiments/data_all 


rvar_project/experiments_cluster2/sims_mpm1/req_lib
rvar_project/experiments_cluster2/sims_mpm1/plot*
rvar_project/experiments_cluster2/sims_mpm1/100_var/pretrainings1
rvar_project/experiments_cluster2/sims_mpm1/100_var/experiments1
rvar_project/experiments_cluster2/sims_mpm1/200_gimme/experiments1
rvar_project/experiments_cluster2/sims_mpm1/300_mvar/pretrainings1
rvar_project/experiments_cluster2/sims_mpm1/300_mvar/experiments1
rvar_project/experiments_cluster2/sims_mpm1/400_modvar/pretrainings1/
rvar_project/experiments_cluster2/sims_mpm1/400_modvar/experiments1/
rvar_project/experiments_cluster2/sims_mpm1/500_AggregatedDataExperiments/data_all 



rvar_project/experiments_cluster2/sims_multi1/req_lib
rvar_project/experiments_cluster2/sims_multi1/plot*
rvar_project/experiments_cluster2/sims_multi1/100_var/pretrainings1
rvar_project/experiments_cluster2/sims_multi1/100_var/experiments1
rvar_project/experiments_cluster2/sims_multi1/200_gimme/experiments1
rvar_project/experiments_cluster2/sims_multi1/300_mvar/pretrainings1
rvar_project/experiments_cluster2/sims_multi1/300_mvar/experiments1
rvar_project/experiments_cluster2/sims_multi1/400_modvar/pretrainings1/
rvar_project/experiments_cluster2/sims_multi1/400_modvar/experiments1/
rvar_project/experiments_cluster2/sims_multi1/500_AggregatedDataExperiments/data_all 








rvar_project/experiments_cluster2/sims_mod2/req_lib
rvar_project/experiments_cluster2/sims_mod2/plot*
rvar_project/experiments_cluster2/sims_mod2/100_var/pretrainings1
rvar_project/experiments_cluster2/sims_mod2/100_var/experiments1
rvar_project/experiments_cluster2/sims_mod2/200_gimme/experiments1
rvar_project/experiments_cluster2/sims_mod2/300_mvar/pretrainings1
rvar_project/experiments_cluster2/sims_mod2/300_mvar/experiments1
rvar_project/experiments_cluster2/sims_mod2/400_modvar/pretrainings1/
rvar_project/experiments_cluster2/sims_mod2/400_modvar/experiments1/
rvar_project/experiments_cluster2/sims_mod2/400_modvar/experiments2/
rvar_project/experiments_cluster2/sims_mod2/500_AggregatedDataExperiments/data_all 


rvar_project/experiments_cluster2/sims_mpm2/req_lib
rvar_project/experiments_cluster2/sims_mpm2/plot*
rvar_project/experiments_cluster2/sims_mpm2/100_var/pretrainings1
rvar_project/experiments_cluster2/sims_mpm2/100_var/experiments1
rvar_project/experiments_cluster2/sims_mpm2/200_gimme/experiments1
rvar_project/experiments_cluster2/sims_mpm2/300_mvar/pretrainings1
rvar_project/experiments_cluster2/sims_mpm2/300_mvar/experiments1
rvar_project/experiments_cluster2/sims_mpm2/400_modvar/pretrainings1/
rvar_project/experiments_cluster2/sims_mpm2/400_modvar/experiments1/
rvar_project/experiments_cluster2/sims_mpm2/400_modvar/experiments2/
rvar_project/experiments_cluster2/sims_mpm2/500_AggregatedDataExperiments/data_all 



rvar_project/experiments_cluster2/sims_multi2/req_lib
rvar_project/experiments_cluster2/sims_multi2/plot*
rvar_project/experiments_cluster2/sims_multi2/100_var/pretrainings1
rvar_project/experiments_cluster2/sims_multi2/100_var/experiments1
rvar_project/experiments_cluster2/sims_multi2/200_gimme/experiments1
rvar_project/experiments_cluster2/sims_multi2/300_mvar/pretrainings1
rvar_project/experiments_cluster2/sims_multi2/300_mvar/experiments1
rvar_project/experiments_cluster2/sims_multi2/400_modvar/pretrainings1/
rvar_project/experiments_cluster2/sims_multi2/400_modvar/experiments1/
rvar_project/experiments_cluster2/sims_multi2/400_modvar/experiments2/
rvar_project/experiments_cluster2/sims_multi2/500_AggregatedDataExperiments/data_all 










rvar_project/experiments_cluster2/sims_mod2/req_lib
rvar_project/experiments_cluster2/sims_mod2/plot*
rvar_project/experiments_cluster2/sims_mod2/100_var/pretrainings1
rvar_project/experiments_cluster2/sims_mod2/100_var/outputs1/
rvar_project/experiments_cluster2/sims_mod2/200_gimme/outputs1/
rvar_project/experiments_cluster2/sims_mod2/300_mvar/pretrainings1
rvar_project/experiments_cluster2/sims_mod2/300_mvar/outputs1/
rvar_project/experiments_cluster2/sims_mod2/400_modvar/pretrainings1/
rvar_project/experiments_cluster2/sims_mod2/400_modvar/outputs1/
rvar_project/experiments_cluster2/sims_mod2/400_modvar/outputs2/
rvar_project/experiments_cluster2/sims_mod2/500_AggregatedDataExperiments/data_all 


rvar_project/experiments_cluster2/sims_mpm2/req_lib
rvar_project/experiments_cluster2/sims_mpm2/plot*
rvar_project/experiments_cluster2/sims_mpm2/100_var/pretrainings1
rvar_project/experiments_cluster2/sims_mpm2/100_var/outputs1/
rvar_project/experiments_cluster2/sims_mpm2/200_gimme/outputs1/
rvar_project/experiments_cluster2/sims_mpm2/300_mvar/pretrainings1
rvar_project/experiments_cluster2/sims_mpm2/300_mvar/outputs1/
rvar_project/experiments_cluster2/sims_mpm2/400_modvar/pretrainings1/
rvar_project/experiments_cluster2/sims_mpm2/400_modvar/outputs1/
rvar_project/experiments_cluster2/sims_mpm2/400_modvar/outputs2/
rvar_project/experiments_cluster2/sims_mpm2/500_AggregatedDataExperiments/data_all 



rvar_project/experiments_cluster2/sims_multi2/req_lib
rvar_project/experiments_cluster2/sims_multi2/plot*
rvar_project/experiments_cluster2/sims_multi2/100_var/pretrainings1
rvar_project/experiments_cluster2/sims_multi2/100_var/outputs1/
rvar_project/experiments_cluster2/sims_multi2/200_gimme/experiments1
rvar_project/experiments_cluster2/sims_multi2/300_mvar/pretrainings1
rvar_project/experiments_cluster2/sims_multi2/300_mvar/outputs1/
rvar_project/experiments_cluster2/sims_multi2/400_modvar/pretrainings1/
rvar_project/experiments_cluster2/sims_multi2/400_modvar/outputs1/
rvar_project/experiments_cluster2/sims_multi2/400_modvar/outputs2/
rvar_project/experiments_cluster2/sims_multi2/500_AggregatedDataExperiments/data_all 





rvar_project/real_data/BrainNetworksGeneData_Systematic/req_lib/
rvar_project/real_data/BrainNetworksGeneData_Systematic/100_var/experiments1/data/
rvar_project/real_data/BrainNetworksGeneData_Systematic/100_var/experiments1/logs/
rvar_project/real_data/BrainNetworksGeneData_Systematic/300_mvar/experiments1/data/
rvar_project/real_data/BrainNetworksGeneData_Systematic/300_mvar/experiments1/logs/
rvar_project/real_data/BrainNetworksGeneData_Systematic/400_modvar/experiments2/data/
rvar_project/real_data/BrainNetworksGeneData_Systematic/400_modvar/experiments2/logs/
rvar_project/real_data/BrainNetworksGeneData_Systematic/400_modvar/experiments3/data/
rvar_project/real_data/BrainNetworksGeneData_Systematic/400_modvar/experiments3/logs/
rvar_project/real_data/BrainNetworksGeneData_Systematic/500_modvar1sd/experiments2/data/
rvar_project/real_data/BrainNetworksGeneData_Systematic/500_modvar1sd/experiments2/logs/